# FAAST 0.08 configuration file



[Sensor]

mirror_mode 0
smoothing_factor 0
skeleton_mode 0
focus_gesture 0



[Mouse]

mouse_enabled 0
mouse_control 0
mouse_body_part 0
mouse_origin 0
mouse_left_bound 0
mouse_right_bound 0
mouse_bottom_bound 0
mouse_top_bound 0
mouse_forward_threshold 0
mouse_relative_speed 0
mouse_movement_threshold 0
mouse_multiple_monitors 0



[Actions]

# mappings from input events to output events
# format: event_name threshold output_type event

right_arm_forwards 25 key_hold f1
left_arm_forwards 25 key_hold f1
right_arm_across 15 key_hold f2
left_arm_across 15 key_hold f2
crouch 20 key_hold down_arrow
jump 5 key_hold space
right_arm_up 15 key_press k
left_arm_up 15 key_press k